<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>236477412356-7pq0djt2cofkoa36obcnrconn4116ifb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.236477412356-7pq0djt2cofkoa36obcnrconn4116ifb</string>
	<key>API_KEY</key>
	<string>AIzaSyCMd90j5zOxxDL1nFZhbjGAzktBOSMwjQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>236477412356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CIS-195.PennCourseConnect</string>
	<key>PROJECT_ID</key>
	<string>penncourseconnect</string>
	<key>STORAGE_BUCKET</key>
	<string>penncourseconnect.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:236477412356:ios:317b3013395832d65db151</string>
	<key>DATABASE_URL</key>
	<string>https://penncourseconnect.firebaseio.com</string>
</dict>
</plist>